@page
@model Web_Application.Pages.Single.SingleSongModel
@using Helpers
@{
}

<div class="container">
    <div class="container">
        <div class="row"></div>
        <div class="row">
            <div class="col-md-auto">
                <img src="@Model.Song.Image" class="singleUnitImage" />
            </div>
            <div class="col d-flex flex-column">

                <div class="mt-auto">
                    <h2>@Model.Song.Name</h2>
                    <h5>Duration: @Model.Song.DurationInSeconds</h5>
                </div>
            </div>
            <div class="col d-flex flex-column text-center">
                <div class="row mt-auto">
                    <h4>Average rating:</h4>
                </div>
                <div class="row">
                    <h2>@Model.Song.AvrgRating/10 *</h2>
                </div>
                <div class="row">
                    <h3>Total reviews: 1289</h3>
                </div>
                <div class="row d-flex align-items-center">
                    @await Html.PartialAsync("_CreateReviewModalPartial", model: new Models.CreateReviewModel() { ReviewDTO = Model.ReviewDTO, MusicUnitId = Model.Song.Id })
                    @section Scripts {
                        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                    }
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-md-8">
        <h2>Reviews</h2>
        @foreach (var r in Model.Reviews)
        {
            @await Html.PartialAsync("_ReviewCardPartial", model: r)
        }
    </div>
</div>