@page
@model Web_Application.Pages.ReviewsModel
@{
}
<div class="container">
    <h1>Most recent reviews:</h1>
    <div class="card-deck">
        
            <div class="card">

            <div class="row reviewCardTop">
                    
                        <div class="col-md-auto">
                            <img src="images/tyler.jpeg"
                                 class="img-fluid rounded-start reviewImg"
                                 alt="Album cover image"
                                 id="test-image" />
                        </div>
            
                        <div class="col-md-auto">
                            <div class="row">
                                <p class="card-subtitle mb-1 text-muted">
                                    Created by Username
                                </p>
                            </div>
                            <h5 class="card-title">
                                My beautiful Dark Twisted Fantasy
                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                Kanye West
                            </h6>
                        </div>
                <div class="col">
                    <div class="card-text d-flex align-items-center h-100 justify-content-end text-end">
                        4.511/10
                    </div>
                </div>
                    
                </div>
                <div class="col-md-auto">
                    <div class="card-body">
                        <p class="card-text" id="long-text">
                            So much text here!
                        </p>
                
                        <p class="card-text">
                            <small class="text-muted">45 Likes</small>
                        </p>
                        <a href="#" class="btn btn-primary">Like</a>

                    </div>
                </div>
            </div>
            <!--Put cards here-->
   
       
    </div>
</div>