@page
@{
}

<div class="container my-4">
    <div class="row">
        <div class="col-md-4">
            <img src="images/tyler.jpeg" alt="Artist Cover" class="img-fluid rounded">
        </div>
        <div class="col-md-8 d-flex align-items-center">
            <div>
                <h1 class="mb-3">Artist Name</h1>
                <div class="d-flex align-items-center mb-3">
                    <span class="mr-3 font-weight-bold">4.8</span>
                    <div class="star-icon">&#9733;&#9733;&#9733;&#9733;&#9734;</div>
                    <span class="ml-2">(57 reviews)</span>
                </div>
                <button class="btn btn-primary">Write a review</button>
            </div>
        </div>
    </div>
</div>

<div class="card-body">
    <div class="d-flex flex-row">
        <img class="image-4" src="/images/artist.png" alt="image 4">
        <div class="d-flex flex-column flex-wrap ml-3">
            <div class="name montserrat-bold-white-24px">HERBERT</div>
            <div class="ab-soul-album montserrat-bold-white-24px">Ab-Soul - Album</div>
        </div>
    </div>
    <div class="overlap-group position-relative mt-4">
        <div class="overlap-group-1">
            <p class="lorem-ipsum-is-simp montserrat-normal-cararra-18px">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
                not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the
                1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
                Aldus PageMaker including versions of Lorem Ipsum.
            </p>
            
        </div>
        <div class="address montserrat-normal-white-18px-2 position-absolute bottom-0 start-0 mb-3 ms-3">142 Likes</div>
        <div class="button position-absolute bottom-0 end-0 mb-3 me-3">
                <button class="join-today valign-text-middle montserrat-medium-white-17px">Like</button>
            </div>
    </div>

</div>

<style>
    .card-body {
        background-color: #5f0f40;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.4);
        color: white;
        padding: 23px 27px;
        height: 502px;
        width: 821px;
    }

    .image-4 {
        height: 149px;
        object-fit: cover;
        width: 157px;
    }

    .lorem-ipsum-is-simp {
        font-size: 18px;
        letter-spacing: -0.27px;
        line-height: 30px;
        position: absolute;
        top: 0;
        left: 0;
        width: 733px;
    }

    .button {
        position: absolute;
        bottom: 0;
        right: 0;
        margin-bottom: 20px;
    }


    .join-today {
        font-size: 17px;
        letter-spacing: -0.26px;
        line-height: normal;
        min-width: 35px;
        text-align: center;
    }

    .valign-text-middle {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .address {
        font-size: 18px;
        letter-spacing: -0.27px;
        line-height: 30px;
        position: absolute;
        top: 262px;
        left: 0;
        width: 101px;
    }
</style>
