@page
@model Web_Application.Pages.Shared.Top100Model
@{
	ViewData["Title"] = "Home page";
}

<div class="container mt-4">
    <h1>Highest Rated {Something}</h1>
    <hr>
    <ul class="list-unstyled album-list">
        <li class="media mb-4">
            <div class="card">
                <div class="row">
                    <div class="col-sm-1">
                        <img src="https://via.placeholder.com/300x300" class="card-img img-responsive" alt="...">
                    </div>
                    <div class="col">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title">Name</h5>
                                    <p class="card-text">Artist</p>
                                </div>
                                <div class="col col-md-auto">
                                    <div class="card-body">
                                        <p class="card-text">4.5/10</p>
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </li>
        <!-- Add more album list items here -->
    </ul>
</div>



