@page
@model Web_Application.Pages.ReviewsModel
@{
}
<div class="container">
    <h1>Most recent reviews:</h1>
    <div class="card-deck">
        @foreach (var r in Model.Reviews)
        {
            @await Html.PartialAsync("_ReviewCardPartial", model: r);
        }
    </div>
</div>